@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

body {
  font-feature-settings: "cv11", "ss01";
}

/* slim scrollbars */
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
*::-webkit-scrollbar-thumb {
  background: #272d38;
  border-radius: 4px;
}
*::-webkit-scrollbar-track {
  background: transparent;
}
